* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    background-image: url('fondo.webp');
  background-size:auto; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-y:hidden;
}

.container {
    width: auto;
    height: 90vh;
    background-color: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    background-color: #0cc1e0;
    
}

.base {
    position: relative;
    width: 100%;
    height: auto; /* Mantiene la altura automática para que la imagen no se deforme */
}

.premio-imagen {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-height: 90vh; /* La imagen no será más alta que el 75% de la pantalla */
    object-fit: contain;
    display: block;
    padding: 0.1rem;
}

#scratch {
    position: absolute;
    margin: 1rem;
    top: 35px; /* Ajusta esto si deseas un margen en la parte superior */
    left: 0;
    width: 90%; /* Asegúrate de que el canvas tenga el mismo ancho que la imagen */
    height: 35vh; /* 3/4 de la imagen, ajusta si es necesario */
    cursor: grabbing;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    position: absolute;
    top: 98%; /* Ajusta la posición del botón según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Coloca el botón debajo del canvas, pero sobre el video */
    padding: 10px 20px;
    background-color: #0cc1e0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 1%;
    width: 100%;
    
    
  }
  
  button:hover {
    background-color: #0056b3;
  }

.btn{
    font-weight: 100;
    color:rgb(46, 75, 75);


  }


  .btn-primary {
    background-color:#0cc1e0;
    border-color: rgb(46, 75, 75);
}

.backgroundImage2{
    height: 90vh;
    background-image: url('fondo.webp');
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

@media (max-width: 600px) {
    .premio-imagen {
        width: 100vw; /* El video ocupará todo el ancho de la ventana */
        height: 100vh; /* El video ocupará todo el alto de la ventana */
        object-fit: cover; /* Se asegura de que el video cubra todo el espacio */
    }
}